allow qti_init_shell baseband_prop:property_service set;
allow qti_init_shell fingerprint_prop:property_service set;
allow qti_init_shell modem_device:blk_file { getattr open read ioctl };
