allow ueventd led_deamon_data_file:dir { read getattr open search };
allow ueventd led_deamon_data_file:file { write getattr open };
allow ueventd led_deamon_data_file:lnk_file getattr;
allow ueventd sensors_data_file:dir { read getattr open search };
allow ueventd sensors_data_file:file { write getattr open };
allow ueventd sensors_data_file:lnk_file getattr;
